html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-color: #383837;
    padding: 0;
    margin: 0;
}

h3, p {
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    padding: 50px 0 0;
    margin: 0px;
}

p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

a {
  color: #ffffff;
  text-decoration: underline;
}

a:hover {
  color: #ffff00;
  text-decoration: underline;
}

.actions {
  margin-top: 30px;
}
