doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
        link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet')
        link(href='/css/home.css', rel='stylesheet')
        title Express boilerplate
    body
        .container
            h3 Express boilerplate
            p= message
