include ../_components/html

+doc()
  +head()
  +body()
    .container
      h3 Express boilerplate
      p= message
    .container.actions
      p Try creating some
        | &nbsp;
        a(href='/cities') cities
        | &nbsp;and&nbsp;
        a(href='/users') users
